<ol class="mt-8 space-y-2">
    {{ $currentSeries := .Params.series }}
    {{ $pages := where site.RegularPages "Params.series" "==" $currentSeries }}
    {{ $currentPageURL := .RelPermalink }}
    {{ $hasComingSoon := false }}
    
    {{ range sort $pages ".Params.weight" "asc" }}
      {{ if .Params.coming_soon }}{{ $hasComingSoon = true }}{{ end }}
      <li class="mb-2 rounded-md line-clamp-2 
          {{ if eq .RelPermalink $currentPageURL }} 
            bg-teal-600 text-white
          {{ else if .Params.coming_soon }} 
            bg-slate-50 text-slate-400 dark:bg-slate-600
          {{ else }} 
            bg-slate-100 hover:bg-teal-600 hover:text-white dark:bg-slate-700 dark:hover:bg-teal-600
          {{ end }}">
        
        {{ if eq .RelPermalink $currentPageURL }}
          <!-- Active Page -->
          <div class="p-2 w-full h-full inline-flex items-center gap-2 cursor-default">
            <svg class="h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414.0l4-4z" clip-rule="evenodd"></path>
            </svg>
            <span>{{ .LinkTitle | default .Title }}</span>
          </div>
        
        {{ else if .Params.coming_soon }}
          <!-- Coming Soon Page -->
          <span class="p-2 w-full h-full inline-flex items-center gap-2">
            <svg class="h-5 w-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7A2 2 0 005 5v14a2 2 0 002 2z"></path>
            </svg>
            <span>{{ .LinkTitle | default .Title }}</span>
            <i class="text-xs text-slate-400">(Coming soon)</i>
          </span>
        
        {{ else }}
          <!-- Regular Page -->
          <a href="{{ .RelPermalink }}" class="p-2 w-full h-full inline-flex items-center gap-2">
            <svg class="h-5 w-5 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
            </svg>
            <span>{{ .LinkTitle | default .Title }}</span>
          </a>
        {{ end }}
      </li>
    {{ end }}
</ol>

{{ if $hasComingSoon }}
<div class="not-prose font-sans mt-8 p-4 bg-amber-100/50 dark:bg-yellow-300/10 rounded-md">
  <h5 class="font-semibold text-2xl mb-6">🚧 Work in Progress 🚧</h5>
  <p>Maaf jika ada link yang belum aktif. Link tersebut masih dalam draft atau sedang dikerjakan. Do'akan agar penulis tetap sehat dan tulisannya cepat terbit 🙏. Kamu juga bisa memberikan dukungan dengan <a class="font-bold underline" href="https://teer.id/smart_peaple" target="_blank" rel="noopener">mentrakteer kopi</a> ☕ supaya penulis kuat begadang, hehe.</p>
</div>
{{ end }}