{{/* Dapatkan semua halaman dari section "post" */}}
{{ $pages := where site.RegularPages "Section" "tutorial" }}
{{ $paginator := .Paginate $pages }}

<div class="container mx-auto px-4 lg:max-w-7xl mt-16">
  <div class="font-bold uppercase text-teal-600 dark:text-teal-400 text-sm mb-2">
    Update
  </div>
  <h2 class="text-3xl text-slate-600 dark:text-slate-300 font-bold tracking-tight mb-2">
    Apa yang baru di Octocat Kode? 🔥
  </h2>
  <p class="text-lg mb-8 text-slate-500 dark:text-slate-300">
    Baca artikel terbaru yang masih fresh dan hangat.
  </p>

  {{ if eq (len $paginator.Pages) 0 }}
    <p class="text-slate-500 dark:text-slate-400">Belum ada konten.</p>
  {{ else }}
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-8">
      {{ range $paginator.Pages }}
        {{ partial "components/update-card.html" . }}
      {{ end }}
    </div>
  {{ end }}

  {{ if gt $paginator.TotalPages 1 }}
    <ul class="flex flex-row justify-center md:justify-start gap-2 md:gap-4 my-8">
      {{ partial "components/pagination.html" . }}
    </ul>
  {{ end }}
</div>
