{{ define "main" }}
  <div class="container mx-auto px-4 my-8">
    <h1 class="text-2xl font-bold text-slate-800 dark:text-white mb-6">Topik: {{ .Title }}</h1>

    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {{ range .Pages }}
        <article class="p-4 rounded shadow bg-white dark:bg-slate-800 hover:shadow-md transition">
          <a href="{{ .RelPermalink }}">
            <h2 class="text-lg font-semibold text-slate-800 dark:text-white mb-2">{{ .Title }}</h2>
            <p class="text-sm text-slate-600 dark:text-slate-200">{{ .Summary }}</p>
          </a>
        </article>
      {{ end }}
    </div>
  </div>
{{ end }}
