<div class="rounded-md overflow-hidden border border-slate-300 bg-slate-100 dark:border-slate-700 dark:bg-slate-800 relative group">
  {{ with .Get "title" }}
    <div class="px-4 py-2 text-sm font-semibold bg-slate-200 dark:bg-slate-700 text-slate-900 dark:text-white border-b border-slate-300 dark:border-slate-600">
      {{ . }}
    </div>
  {{ end }}

  <button onclick="copyCode(this)" 
          class="absolute top-2 right-2 text-xs px-2 py-1 bg-emerald-500 hover:bg-emerald-600 text-white rounded shadow hidden group-hover:block transition">
    Copy
  </button>

  <pre class="bg-white dark:bg-slate-900 px-4 py-2 text-sm text-slate-800 dark:text-slate-100 overflow-auto rounded-b-md">
    <code class="language-{{ .Get "lang" | default "plaintext" }}">{{ .Inner | safeHTML }}</code>
  </pre>
</div>
